{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base09">lsxnr</span><span class="base05">]</span><span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div id="tagline" style="text-align: center;"></div>
<script>
        var taglines = ["A clever man learns from his mistakes, a wise man learns from the mistakes of others.",
            "/dev/null for my thoughts.",
            "I write to remeber why I wrote.",
            "Wisdom from the command line.",
            "Maybe this will remind me why I wrote that.",
            "Desperaletly trying to come up with a tagline.",
            "Is it working?",
            "A dark matter developer's diary.",
            "My go code never panics, it exits in an orderly fashion.",
            "/dev/urandom did it better.",
            "Quality content for bots and automated crawlers."];
        var x = Math.floor(Math.random() * taglines.length);
        document.getElementById('tagline').innerHTML = taglines[x];
    </script>

