img[src$='#center-round']
{
    display: block;
    margin: 0.7rem auto;
    border-radius: 50%;
}

img[src$='#centered-post']
{
    display: block;
    margin: 0.7rem auto;
    max-width: 50%;
    height: auto;
}
